.idea

#.env
#.env.local
#.env.local.php
#.env.*.local

postgresql

public_html/bundles/
public_html/var/
vendor/

.phpunit
phpunit.xml
.phpunit.result.cache

node_modules/
public_html/build/
npm-debug.log
yarn-error.log
